
<div>Cillum elit exercitation fugiat incididunt eu ea consectetur laborum irure exercitation. Qui esse ipsum pariatur eiusmod. Velit est laborum duis eu anim et ullamco mollit fugiat tempor quis aliqua aliqua. Anim occaecat irure laboris mollit incididunt laborum cillum. Proident eu dolore non veniam amet aliquip anim tempor proident mollit sit pariatur consequat nisi. Deserunt pariatur nisi do commodo ut amet deserunt exercitation dolor pariatur.</div>
<div>
<button (click)="goToContact()" class="btn btn-success"> Contact Us</button>
</div>