.keep-note-panel {
    width: 60vw;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  
}
.keep-note-wrapper{
    display: flex;
    flex-direction: column;
 
}
.keep-note-button{
    display : flex;
    justify-content: flex-end;
    border-radius: 10px;
}
.error-message {
    color: red;
    padding: 1em 0 0 0;
}
